@font-face {
    font-family: 'jgs7';
    src: url('jgs/jgs7.woff2') format('woff2'),
        url('jgs/jgs7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs5';
    src: url('jgs/jgs5.woff2') format('woff2'),
        url('jgs/jgs5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs9';
    src: url('jgs/jgs9.woff2') format('woff2'),
        url('jgs/jgs9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs';
    src: url('jgs/jgs_Font.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UncutSans';
    src: url('uncut-sans/UncutSans-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
