:root {
    --primary-dk: #eeeeee;
    --background-dk: #171717;
    
    --primary-lt: #1D1C1B;
    --background-lt: #FAF9F5;
    --detail-lt: #F0EEE6;
    --shadow-lt: #00000020;

    --accent: #feca57;
}

h1 {
    color: var(--primary-lt);
    
    line-height: 1.2;
}

html {
  font-family: 'DM Mono', Inter, Arial, Helvetica;

  line-height: 2;

  color: var(--primary-lt);
}

body {
    margin: 0;
    padding: 0;

    background-image: url("background-slash-light.png");
    background-repeat: repeat;
}

a {
    color: var(--primary-lt);
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
}

.jgs7 {
    font-family: 'jgs7', Arial, Helvetica;
}

.jgs5 {
    font-family: 'jgs5', Arial, Helvetica;
}

.jgs9 {
    font-family: 'jgs9', Arial, Helvetica;
}

.jgs {
    font-family: 'jgs', Arial, Helvetica;
}

.hero-text {
    font-size: 35px;
    color: var(--primary-lt);
}

.hero-text > .jgs {
    font-size: 55px;
}

.hero-text > .jgs5 {
    font-size: 40px;
}

nav {
    display: flex;
    padding: 1rem;

    position: sticky;
    top: 0px;
}

.home {
    position: relative;
}

.headline {
    text-align: center;

    margin: 6rem 0rem 4rem 0rem;

    padding: 0px 20px;
}

.headline.mobile { 
    margin: 1rem 0rem;
}

.accent-headline {
    font-family: 'jgs7', Arial, Helvetica;
    font-style: italic;

    color: var(--accent);

    font-size: 50px;

    position: relative;

    text-shadow: -2px 2px 0px var(--primary-lt);

    position: relative;
    top: 1px;
}

.hero-image {
    z-index: -1;

    position: fixed;

    bottom: -60px;
    left: -80px;

    filter: drop-shadow(0px 0px 4px var(--background-lt));

    user-select: none;
}

main {
    max-width: 45rem;

    margin-left: auto;
    margin-right: auto;

    padding: 0rem 2rem;
}