:root {
    --primary-dk: #eeeeee;
    --background-dk: #171717;
    
    --primary-lt: #1D1C1B;
    --background-lt: #FAF9F5;
    --detail-lt: #F0EEE6;
    --shadow-lt: #00000020;

    --accent: #feca57;
}

* {
    overscroll-behavior: none;
}

*::selection {
  color: var(--background-lt);
  background-color: var(--accent);
}

html {
  font-family: 'JetBrains Mono', 'DM Mono', Inter, Arial, Helvetica;

  color: var(--primary-lt);
}

body {
    margin: 0;
    padding: 0;

    background-image: url("background-slash-light.png");
    background-repeat: repeat;
}

p {
    line-height: 2rem;
    font-size: 1rem;
    
    margin: 0px 0px 1.4rem 0px;
}

.headline {
    text-align: center;

    font-family: 'Departure';
	font-size: 2.0625rem;

    padding: 0px 20px;

    margin: 96px 0px 64px 0px;

    max-width: 40rem;
    margin-left: auto;
    margin-right: auto
}

.headline.mobile {
    margin: 16px 0px;
}

.headline > .accent {
    color: var(--accent);

    text-shadow: -2px 2px 0px var(--primary-lt);

	font-size: 2.75rem
}

h1 {
    text-align: center;

    font-family: 'Departure';
	font-size: 2.0625rem;

    padding: 0px 20px;

    margin: 96px 0px 64px 0px;
}

h2 {    
    line-height: 1.2;

    margin-top: 40px;
}

h3 {    
    line-height: 1.2;

    font-weight: 500;

    margin-bottom: 0.5rem;
}

hr {
    border-color: var(--primary-lt);
}

a {
    color: var(--primary-lt);
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;

    transition: color 100ms ease-in-out;
}

a:hover {
    color: var(--accent);

    transition: none;
}

ul, ol {
  line-height: 1.8;
}

.jgs7 {
    font-family: 'jgs7', Arial, Helvetica;
}

.jgs5 {
    font-family: 'jgs5', Arial, Helvetica;
}

.jgs9 {
    font-family: 'jgs9', Arial, Helvetica;
}

.jgs {
    font-family: 'jgs', Arial, Helvetica;
}

.newsreader {
    font-family: Newsreader, Arial, Helvetica;
    font-style: italic;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.08em;
    line-height: 1.8rem;
}

.hero-text {
    font-size: 35px;
    color: var(--primary-lt);
}

.hero-text > .jgs {
    font-size: 55px;
}

.hero-text > .jgs5 {
    font-size: 40px;
}

strong {
    font-weight: 600;
    letter-spacing: 0.05rem;
}

img {
    max-width: 100%;
    max-height: 20rem;

    margin: 0 auto 0 auto;
    border-radius: 1rem;

    display: block;

    filter: drop-shadow(-6px 6px 0px var(--accent));
    border: 2px solid var(--primary-lt);
}

img.no-border {
    filter: none;
    border: 0px;
}

.hero-image {
    z-index: -1;

    max-width: none;
    max-height: none;

    position: fixed;

    bottom: -60px;
    left: -80px;

    filter: drop-shadow(0px 0px 4px var(--background-lt));

    user-select: none;

    border: none;
}

main {
    max-width: 45rem;

    margin-left: auto;
    margin-right: auto;

    padding: 0rem 2rem;
}

.subtext {
    opacity: 0.7;
    font-style: italic;

    font-size: 0.7rem;
}

.not-bold {
    font-weight: 500;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.project-header > h3 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.no-wrap {
    white-space: nowrap;
}

div[class*="language-"] .lang,
div[class*="language-"] button {
  display: none;
}

div[class*="language-"] {
    background: var(--background-dk);

    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1.5;
}

div[class*="language-"] > pre {
    margin-top: 0;
    margin-bottom: 0;
}

code {
    background: var(--detail-lt);

    padding: 0.15rem 0.3rem;
    border-radius: 0.5rem;

    font-family: 'Fira Code', monospace;
    font-size: 14px;
    font-weight: 400;
}

.shiki > code {
    background: transparent;
    padding: 0;
    border-radius: 0;

    font-size: 12px;
    font-weight: 400;
}

.shiki {
    overflow-x: auto;
}

ol { counter-reset: item }
ol > li { display: block }
ol > li:before { content: counters(item, ".") ". "; counter-increment: item }

blockquote {
    font-family: Newsreader, Arial, Helvetica;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.1rem;
}