@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --text-primary: #ffffff;
    --text-primary-translucent: #ffffffde;
    --bg-primary: #24252a;
    --action-primary: #3ba0e4;
    --transparent: hsla(0%, 0%, 0%, 0%);
    font-size: 16px;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    transform-origin: center center;
}

*::-webkit-scrollbar {
    display: none;
}

a{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--action-primary);
    font-size: 1rem;
    text-decoration: none;
}

.header{
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: absolute;
    top: 0;
}

.heading{
    width: 100%;
    height: 10rem;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}

.heading img{
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: 0 3rem;
}

.fab{
    color: #ffffff;
    padding: 0 1rem;
}

.header-logo-container{
    width: 20rem;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: unset;
}

.showcase-title{
    position: relative;
    margin-top: 3rem;
    top: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--action-primary);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

footer{
    background-color: var(--action-primary);
    width: 100%;
    height: 7rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: medium;
    color: var(--text-primary);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

footer p a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: medium;
    color: var(--text-primary);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.anim-in{
    opacity: 0;
    transform: scale(0.5);
}

.anim-in.start {
    transition: all .5s ease;
    opacity: 1;
    transform: scale(1);
}

body{
    margin: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
    /*.desktop-header {display: none;}*/
}

.nav__links a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: medium;
    color: var(--text-primary);
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--action-primary-transparent);
    text-align: center;
    transition: all .3s ease;
    width: 6rem;
}

.nav__links a:hover {
    color: var(--action-primary);
    font-size: larger;
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-social{
    width: 20rem;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    height: 2rem;
}

.nav-social button{
    background-color: var(--action-primary-transparent);
    border: none;
    transition: transform .3s ease;
}

.nav-social button:hover{
    transform: scale(1.2);
    color: var(--action-primary);
}

.nav-social-yt{
    margin-right: 3rem;
}

.card{
    width: 120%;
    margin-top: 8rem;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 80rem;
    overflow: visible;
}

.card img{
    object-fit: cover;
    width: 70%;
    height: auto;
    position: relative;
    left: 10%;
}

.card-text-container{
    width: 45%;
    background-color: var(--action-primary);
    z-index: 1;
    position: relative;
    right: 10%;
    top: 5.5rem;
    margin-bottom: 13rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
}

.card-text-title{
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 2rem;
    text-align: left;
}

.card-text{
    margin-top: .5rem;
    margin-left: 2.5rem;
    width: calc(90% - 2rem);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--text-primary);
    font-size: 1.2rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}

.card-button{
    padding: 1.2rem 1.5rem;
    background-color: var(--text-primary);
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--action-primary);
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    display: block;
    max-width: 10rem;
    transition: all .3s ease;
    transform: scale(1);
}

.card-button:hover{
    transform: scale(1.2);
}

.card-2{
    width: 120%;
    margin-top: 8rem;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 80rem;
    overflow: visible;
}

.card-2 img{
    object-fit: cover;
    width: 70%;
    height: auto;
    position: relative;
    right: 10%;
}

.card-text-container-2{
    width: 45%;
    background-color: var(--action-primary);
    z-index: 1;
    position: relative;
    left: 10%;
    top: 5.5rem;
    margin-bottom: 13rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
}

 
#current-page{
    color: var(--action-primary);
}

.nav__icons{
    list-style: none;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.nav__icons a{
    color: var(--text-primary);
    transition: all .3s ease;
    width: 6rem;
    height: 1.5rem;
    overflow: visible;
    text-align: center;
    padding-top: .5rem;
    text-decoration: none;
}

.nav__icons a:hover {
    color: var(--action-primary);
    font-size: x-large;
}

@media only screen and (max-width: 600px) {
    .nav__icons{
        display: flex;
    }

    .nav__links{
        display: none;
    }
}