.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--action-primary);
    left: -100vw;
    top: 0;
    z-index: 101;
    transition: all .3s ease;
    pointer-events: none;
}

.loader.ready{
    transition: none .3s ease;
    left:100vw;
}

.loader.is-active{
    left: 0;
    pointer-events: all;
}

